/Saved/Crashes/UE4CC-Windows-71A5F4394218E7C27461EA9FB53D7B3D_0000/*.runtime-xml
/Saved/Crashes/UE4CC-Windows-71A5F4394218E7C27461EA9FB53D7B3D_0000/*.ini
/Saved/Crashes/UE4CC-Windows-71A5F4394218E7C27461EA9FB53D7B3D_0000/*.log
/Saved/Crashes/UE4CC-Windows-71A5F4394218E7C27461EA9FB53D7B3D_0000/*.dmp
/Saved/AutoScreenshot.png
/Saved/Autosaves/Game/SideScrollerBP/PlayerMagnet_Auto2.uasset
/Saved/Config/CrashReportClient/UE4CC-Windows-B054D28D4435E1004ADC67B33FB466B1/CrashReportClient.ini
/Saved/Config/Windows/UnrealInsightsSettings.ini
/Saved/Logs/GGJ2022-backup-2022.01.17-06.57.19.log
